<div class="container">
  <div class="form-wrapper register-user-form">
    <div class="row radio-group">
      <span class="col-3 offset-2">Je suis</span>
      <div class="col">
        <input type="radio" name="role" value="bailleur" id="bailleur" [(ngModel)]="radio">
        <label for="bailleur">Bailleur</label>
        <input type="radio" name="role" value="locataire" id="locataire" [(ngModel)]="radio">
        <label for="locataire">Locataire</label>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-3 offset-2" for="lastname">Nom</label>
      <input class="col-5" type="text" id="lastname" 
      [(ngModel)]="user.nom" 
      (keyup)="checkEmpty(this.user.nom, 'nom')"
      [ngClass]="{'is-valid': controlValid.nom, 'is-invalid': controlValid.nom === false}">
    </div>
    <div class="row form-group">
      <label class="col-3 offset-2" for="firstname">Prénom</label>
      <input class="col-5" type="text" id="firstname" [(ngModel)]="user.prenom"  (keyup)="checkEmpty(this.user.prenom, 'prenom')"
      [ngClass]="{'is-valid': controlValid.prenom, 'is-invalid': controlValid.prenom === false}">
    </div>
    <div class="row form-group">
      <label class="col-3 offset-2" for="email">Adresse email</label>
      <input class="col-5" 
              type="text" 
              id="email" 
              [(ngModel)]="user.mail" 
              (keyup)="checkEmail(this.user.mail, 'email')"
              [ngClass]="{'is-valid': controlValid.email, 'is-invalid': controlValid.email === false}">
    </div>
    <div class="row form-group">
      <label class="col-3 offset-2" for="password">Mot de passe</label>
      <input class="col-5" type="password" id="password" [(ngModel)]="user.password">
    </div>
    <div class="row form-group">
      <label class="col-3 offset-2" for="dob">Date de naissance</label>
      <input class="col-5" type="date" id="dob" datetime="yyyy-MM-dd:mm:ss" name="dob" [(ngModel)]="user.dateNaissance">
    </div>
    <div class="text-center">
      <button (click)="inscription()">S'inscrire</button>
    </div>
  </div>
</div>