<div class="container" *ngIf="user">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">Nom</div>
				<div class="col">{{user.nom}}</div>
			</div>
			<div class="row">
				<div class="col">Prenom</div>
				<div class="col">{{user.prenom}}</div>
			</div>
			<div class="row">
				<div class="col">Mail</div>
				<div class="col">{{user.mail}}</div>
			</div>
			<div class="row">
				<div class="col">Date de naissance</div>
				<div class="col">{{user.dobString}}</div>
			</div>
			<div class="row">
				<div class="col">Solde</div>
				<div class="col">{{user.solde}}€</div>
				<ng-container *ngIf="typeUser === 'locataire'">
					<div class="col">
						<input type="number" [(ngModel)]="credit">
					</div>
					<div class="col">
						<button (click)="crediter()">Crediter</button>
					</div>
				</ng-container>
			</div>
			<div class="row">
				<div class="col">
					Pièce d'identité
				</div>
				<div class="col" *ngIf="!user.pieceId">
					<input #pieceId type="file" accept="image/*" (change)="addImage(pieceId, true)">
				</div>
				<div class="col" *ngIf="user.pieceId">
					Enregistrée
				</div>
			</div>
			<div class="row" *ngIf="typeUser === 'locataire'">
				<div class="col">
					Certificat Médical
				</div>
				<div class="col" *ngIf="!user.certificat">
					<input #certificat type="file" accept="image/*" (change)="addImage(certificat, false)">
				</div>
				<div class="col" *ngIf="user.pieceId">
					Enregistrée
				</div>
			</div>
		</div>
	</div>
</div>
