<div class="container" *ngIf="user">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">Nom</div>
				<div class="col">{{user.nom}}</div>
			</div>
			<div class="row">
				<div class="col">Prenom</div>
				<div class="col">{{user.prenom}}</div>
			</div>
			<div class="row">
				<div class="col">Mail</div>
				<div class="col">{{user.mail}}</div>
			</div>
			<div class="row">
				<div class="col">Date de naissance</div>
				<div class="col">{{user.dobString}}</div>
			</div>
			<div class="row">
				<div class="col">Solde</div>
				<div class="col">{{user.solde}}€</div>
				<ng-container *ngIf="typeUser === 'locataire'">
					<div class="col">
						<input type="number" [(ngModel)]="credit">
					</div>
					<div class="col">
						<button (click)="addCredit()">Crediter</button>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>