.calendar {
  .content {
    height: 600px;
    text-align: center;
    .semaine {
      height: 16.66%;
      .jour {
        border: 1px solid black;
      }
    }
  }
  margin: auto;
  margin-top: 50px;
  width: 70%;
}
