<div class="container">
<form action="">
    <div class="radio-group">
        <input type="radio" name="role" value="bailleur" id="bailleur">
        <label for="bailleur">bailleur</label>
        <input type="radio" name="role" value="locataire" id="locataire">
        <label for="locataire">Locataire</label>
    </div>
    <div class="form-group"> 
        <label for="email">Email</label>
        <input type="text" id="email">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password">
    </div>
    <button>Se connecter</button>
</form>
</div>