<div class="container">
  <h1>Proposer ma salle</h1>
  <div class="form-group">
    <label for="name">Nom de la salle</label>
    <input type="text" id="name" [(ngModel)]="salle.nom">
  </div>
  <div class="form-group">
    <label for="address">Adresse</label>
    <input type="text" id="address" [(ngModel)]="salle.adresse">
  </div>
  <div class="form-group">
    <label for="dimensions">Dimensions (m2)</label>
    <input type="number" id="dimensions" [(ngModel)]="salle.dimension">
  </div>
  <div class="form-group">
    <label for="maxusers">Nombre d'utilisateurs max</label>
    <input type="number" id="maxusers" min="1" max="10" [(ngModel)]="salle.utilisateurMax">
  </div>
  <div class="form-group">
    <label for="price">Tarif horaire</label>
    <input type="number" id="price" min="1" max="100" [(ngModel)]="salle.tarifHoraire">
  </div>
  <div class="form-group">
    <label for="refundRate">Pourcentage remboursement</label>
    <input type="number" id="refundRate" min="0" max="100" [(ngModel)]="salle.pourcentageRemboursement">
  </div>
  <div class="form-group">
    <label for="autovalidation">Validation automatique</label>
    <input type="checkbox" id="autovalidation" [(ngModel)]="salle.validationAuto">
  </div>
  <div class="form-group">
    <p>Equipement à disposition</p>
    <label for="shower">Douche</label>
    <input type="checkbox" id="shower" name="equipments" (click)="gestionEquipement($event, 'Douche')">
    <label for="toilets">Toilettes</label>
    <input type="checkbox" id="toilets" name="equipments" (click)="gestionEquipement($event, 'Toilettes')">
    <label for="wifi">Wifi</label>
    <input type="checkbox" id="wifi" name="equipments" (click)="gestionEquipement($event, 'Wifi')">
  </div>
  <button (click)="addSalle()">Envoyer</button>
</div>