<header class="header">
  <nav class="nav">
    <a routerLink="" class="logo">
      <img src="../../assets/icons/logo.svg" alt="">
      <div class="title">Nomad Muscle</div>
    </a>

    <div class="menu">
      <a *ngIf="typeUser === 'bailleur'" routerLink="enregistrer-salle">Proposer ma salle</a>
      <a *ngIf="typeUser === 'bailleur'" routerLink="mes-salles">Mes salles</a>
      <a *ngIf="typeUser === 'locataire'" routerLink="trouver-une-salle">Trouver une salle</a>
      <a *ngIf="!connected" routerLink="inscription">S'inscrire</a>
      <a *ngIf="!connected" routerLink="login">Connexion</a>
      <a *ngIf="connected" routerLink="transactions">Mes transactions</a>
      <a *ngIf="connected" routerLink="mon-compte">Mon compte</a>
      <a *ngIf="connected" (click)="deconnexion()" routerLink="#">Deconnexion</a>
      <a routerLink="calendar">Chemin calendar temporaire</a>
    </div>
  </nav>
</header>